@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


<div>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <span>
            Select File:
        </span>
        <input type="file" name="postedFile" /><hr />
        <input type="submit" value="Upload" /><br />
        <span style="color:green">@ViewBag.message</span>
    }<br>
    @using (Html.BeginForm("Zip", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div>
            <input type="submit" value="ZIP" class="btn btn-default" />
        </div>
    }
</div>